<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>

<p>
  <strong>Chef:</strong>
  <%= link_to 'About our chef', chef_restaurant_path(@restaurant) %>
</p>

<h2>Leave a review:</h2>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.button :submit, class: 'btn btn-success' %>
<% end %>

<h3>The reviews</h3>

<ul>
<% @restaurant.reviews.each do |review| %>
  <li>
    <div class="p-2 d-flex justify-content-between align-items-center bg-light">
      <p class="mb-0">
        <%= review.content %>
      </p>
      <div>
        <%= link_to 'edit', edit_review_path(review), class: 'btn btn-xs btn-warning' %>

        <%= link_to 'delete',
                    review_path(review),
                    method: :delete,
                    class: 'btn btn-xs btn-danger',
                    data: { confirm: 'Are you sure ?'}
        %>
      </div>
    </div>


  </li>
<% end %>

</ul>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
